:root {
  --clr-light: #ffe9c5;
  --clr-dark-1: #8a671f;
  --clr-dark-2: #271d1b;
  --clr-black: #000;
  --clr-white: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}
html {
  scroll-behavior: smooth;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

.dark-mode {
  --clr-dark-2: #ffe9c5;
  --clr-dark-1: #8a671f;
  --clr-light: #271d1b;
  --clr-black: white;
  --clr-white: #000;
}

body {
  font-family: "Newsreader", serif;
  background-color: var(--clr-light);
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;

  background-color: var(--clr-dark-1);
  color: white;
  padding-inline: 3rem;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  border-radius: 6px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 10px rgb(88, 87, 84), 0 4px 10px rgb(80, 80, 79),
    0 0 100px -10px var(--clr-dark-1);
}
