.profile {
  margin: 2rem;
}

.about__summary {
  margin-top: 10rem;
  display: flex;

  align-items: center;
  gap: 6rem;
}

.about__summary__text {
  flex-basis: 80%;
}

.summary__element {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 2rem;
  width: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the beautiful input field */

.profilepic {
  border-radius: 100%;
  width: 300px;
  height: 290px;
  border: 4px solid white;
  cursor: pointer;
  object-fit: cover;
}

.inputFiled {
  display: none;
}

.upload-status {
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--clr-dark-1);
  margin-top: 1rem;
}

.heading__h3 {
  cursor: pointer;
  font-size: 1.4rem;
}

.button > button {
  margin-right: 1rem;
  margin-top: 2rem;
}

.editMode {
  border: 3px solid var(--clr-dark-1);
  padding: 1rem;
  border-radius: 10px;
}

.profile__line {
  margin-top: 5rem;
  border: 2px solid var(--clr-dark-1);
}

/* for 2xl   */
/* @media (max-width: 1536px) {} */

/* for xl   */
/* @media (max-width: 1280px) {} */

/* for large */
@media (max-width: 1024px) {
  .about__summary {
    margin-top: 5rem;
  }

  .about__summary__text {
    flex-basis: 70%;
  }

  .profilepic {
    width: 220px;
    height: 200px;
  }
}

/* for medium */
@media (max-width: 768px) {
  .about__summary {
    margin-top: 3rem;
    flex-direction: column;
  }

  .profilepic {
    width: 250px;
    height: 250px;
  }
}

/* for small */
/* @media (max-width: 640px) {} */

/* for extra small */
@media (max-width: 400px) {
  .profileabout {
    padding-inline: 1rem;
  }
  .about__summary {
    padding-inline: 0.5rem;
    gap: 4rem;
  }

  .button {
    display: flex;
    justify-content: space-between;
    margin-right: 0rem;
    margin-top: 0rem;
    padding: 0;
  }

  .button > button {
    margin-right: 0;
    font-size: 0.8rem;
  }
}
